.chainButton {
  @apply mr-2 cursor-pointer;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  color: #2e2c34;
  padding: 4px 8px;
  height: 28px;
  background: #ffffff;
  border: 1px solid #ebeaed;
  border-radius: 4px;
}
.selected {
}
.chainButton.selected {
  background: rgba(163, 152, 255, 0.06);
  border: 1px solid #5542f6;
  color: #5542f6;
}

.chainButton input {
  display: none;
}

.addButton {
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 20px;
  /* identical to box height, or 105% */

  /* Primary/1 */

  color: #5542f6;
}

.closeBtn {
  color: #2e2c34;
}
